@tailwind base;
@tailwind components;
@tailwind utilities;



.sign_in{
  background-image: linear-gradient(to right top, #e8188f, 
  #e22f9f, #db3fae, #d24dbc, #c85ac9, #b158bf, #9a55b4,
   #8551a8,#623f85, #422d62, #261c41, #200e40);
}


.sec_div{
   background-color:#653082;
}


      /* making mobile responsibe */
/* 
@media screen and (max-width: 780px){
  .con{
    width: 750px;
    height: 600px;
  }
}

@media screen and (max-width: 680px){
  .con{
    width: 500px;
    height: 600px;
  }
}

@media screen and (max-width: 600px){
   .con{
     width: 600px;
     height: 600px;
   }
}

@media screen and (max-width: 500px){
  .con{
    width: 470px;
    height: 600px;
  }
}


@media screen and (max-width: 450px){
  .con{
    width: 380px;
    height: 600px;
  }
} */

input::placeholder {
  color: rgb(13, 7, 7); /* Set the desired color for the placeholder text */
}

.input{
  padding-left: 40px;
  color: white;
  
}

.input::placeholder {
  color: rgb(188, 175, 175);
}


::-webkit-scrollbar {
  width: 5px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #5f2d7a;
  border-radius: 2px; 
}